[submodule "3_githooks/automated-build-uploader"]
	path = 3_githooks/automated-build-uploader
	url = https://github.com/ViMaSter/automated-build-uploader.git
[submodule "5_tools/ninepatch_generator"]
	path = 5_tools/ninepatch_generator
	url = https://github.com/ViMaSter/ninepatch_generator.git
[submodule "5_tools/ninepatch_trimmer"]
	path = 5_tools/ninepatch_trimmer
	url = https://github.com/ViMaSter/ninepatch_trimmer.git
