###############
### GENERAL ###
###############
credentials.dat
ArtContent/
Builds/
backup_log.txt
/0_unreal/Content/TheBarberShop/Assets/Environment/ThirdPersonSkelMesh.uasset
/0_unreal/wrapper/Build/Receipts/
